package main

import (
	jira "jira-restapi-docker/api"
)

func main() {

	acc := jira.Account{
		Username: "USERNAME",
		Password: "PASSWORD",
		Issue: jira.Issue{
			"URL",
			"PROJECTKEY",
			"Summary example",
			"Description example",
			"ISSUETYPE",
		},
	}

	acc.CreateIssue()

}
